[submodule "pas_ref_app/appserver/addons/splunk-add-on-jira-alert"]
	path = pas_ref_app/appserver/addons/splunk-add-on-jira-alert
	url = https://github.com/splunk/splunk-add-on-jira-alert.git
[submodule "pas_ref_app/appserver/addons/eventgen"]
	path = pas_ref_app/appserver/addons/eventgen
	url = https://github.com/splunk/eventgen.git
[submodule "pas_ref_app/appserver/addons/splunk-add-on-google-drive"]
	path = pas_ref_app/appserver/addons/splunk-add-on-google-drive
	url = https://github.com/splunk/splunk-add-on-google-drive.git
