@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.main-area {
    border: 1px solid black;
}

.filter_tags {
  margin-left: 10px;
  float:left;
}

.filter {
  background-color: #273542;
}

.exclude {
  background-color: #E73E2E;
}


body, .main-section-body {
  background-color: #bededf;
  background-image: linear-gradient(#bededf, #fff 800px); 
  font-family: 'Open Sans', sans-serif;
}

.dashboard-row .dashboard-panel {
  background-color: #FFF !important;
}

.span-full {
    width: 100%;
}
.span-half {
    width: 50%;
}
.span-third {
    width: 33%;
}
.splunk-textinput, .splunk-choice-input {
    margin: 0 !important;
}
input {
    width: 150px;
}
