.main-area {
    border: 1px solid black;
}
.span-full {
    width: 100%;
}
.span-half {
    width: 50%;
}
.span-third {
    width: 33%;
}

.filter_tags {
  margin-left: 10px;
  float:left;
}

.filter {
  background-color: #273542;
}

.exclude {
  background-color: #E73E2E;
}