.help-hover {
    cursor: help;
 
    /* font-weight: bold; */
    /* font-size: 2em; */
    text-decoration: none;
    padding-bottom: 2px;
    padding-top:0px;
    
 	/* position: absolute;
	top:-15px;
	z-index:1001; */
}

.help-hover a:hover {
	text-decoration: none;
}

.help-hover a:visited {
	text-decoration: none;
}

.help-hover a:active {
	text-decoration: none;
}

.text-right {
	text-align: right;
}

/* Not used, after refactoring to use Learn more links as opposed to question marks */
/*
.learn-container {
	overflow:hidden;
    width:100%;
}

#learn-left {
	width:50%;
	float:left;
}
*/

#learn-right {
	width:50%;
	float:right;
	text-align: right;
}

/* From admin.css. Update if the product styling changes and you want to stay consistent */
/* .spl-icon-external-link-xsm {
	background: transparent url(/en-US/static//img/skins/default/icon-external-xsm.png) no-repeat 0 0;
	_background: transparent url(/en-US/static//img/skins/default/icon-external-xsm-ie6.png) no-repeat 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 15px;
	margin-left: 5px;
	font-style: normal;
} */

div .icon-bulb {
	margin-right: 3px;
	color: #fac51d;
	font-size: 14px;
	opacity: .5;
  	transition: opacity 350ms;
}

div .icon-bulb:hover {
 	opacity: 1.0;
  	transition: opacity 350ms;
}

