#provider_stats {
    float: right;
    padding: .7em;
    border: 1px solid #AAAAAA;
}

#provider_stats .provider_box {
    display: inline-block;
    width: 10em;
}
#provider_stats .provider_box:first-child { margin-left: 0; }
#provider_stats .provider_box             { margin-left: 1em; }
#provider_stats .provider_box .event_count {
    font-family: sans-serif;
    font-size: 36px;
    line-height: 36px;
}

#provider-learn-right {
	float: right;
	margin-right: 10px;
}
