/* Custom layout for first row */
#activity_levels_panel { width: 30% !important; }
#trend_panel { width: 70% !important; }

/* Force calendar to only show one month by limiting width */
#activity_levels_panel .panel-element-row {
    width: 250px;
    margin-left: auto; margin-right: auto;
}

 .html h3 { 
	font-size: 16px; !important;
	font-weight: normal; !important;
 }

/* Disable resizable handle to improve UX of the trend chart with the zoom&pan control below */
div .ui-resizable-handle {
   display:none !important;
}

div .panel-footer {
	display:none !important;
}

/* Remove refresh time indicator on the zoom&pan control - it's redundant on the composite chart */
div[id*='zoom_chart-refreshtime']{
	display:none !important;
}

#learn-on-trend {
	position: relative;
	top: -10px !important;
	padding-top:0px;
}

/* Move the user name filter and time range picker next to the dashboard label */
.splunk-timerange {
    float: right;
    position: relative;
    left: 150px;
    top:-55px;
 }

#input1 {
    position: relative;
    left: 250px;
    top: -32px;
    width: 300px;
}

#input1 label {
    display: inline;
}

#input1 > div {
    display: inline;
}

 .dashboard-row {
    position: relative;
 	top:-56px;
 }
