/* Custom layout for first row */
#activity_levels_panel { width: 30% !important; }
#trend_panel { width: 70% !important; }

/* Force calendar to only show one month by limiting width */
#activity_levels_panel .panel-element-row {
    width: 250px;
    margin-left: auto; margin-right: auto;
}

 .html h3 { 
	font-size: 16px; !important;
	font-weight: normal; !important;
 }