{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Setup{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style>       
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 400px;
        }   
    </style>
{% endblock css %}

{% block content %}
    <div>
        <div class="main-area">
            <form class="splunkdj-setup-form" method="post" action="">
                {% csrf_token %}
                <h2>Setup Form</h2>
                <p>Enter your information, then click <b>Save</b> to continue.</p></br>               
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Save" />
                {% if configured %}
                    <a class="btn" href="{% url 'warum_conducive_web:home' %}">Cancel</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}