{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Summary{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <style>
        .span-full {
            width: 100%;
        }
        .span-half {
            width: 50%;
        }
        .span-third {
            width: 33%;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
  
  <div class="row">
    <div class="span12 dashboard-header clearfix">
      <h2>Summary</h2>
    </div>
  </div>

      <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Search Criteria</h3>
                    </div>
                    <div class="panel-body">
                        {% timerange id="timerange" managerid="trend-search" preset="Last 24 hours" earliest_time="$earliest_time$"|token_safe latest_time="$latest_time$"|token_safe%}
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="dashboard-row">
    <div class="dashboard-cell" style="width: 100%;">
      <div class="dashboard-panel">
        <div class="panel-head">
          <h3>Trend</h3>
        </div>

        <div class="panel-body">
          <div id="trend-chart-div"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-row" id="filter_header" style="display:none">
    <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                          <h3>Tables Below Filtered on Event Type of {{"$event_name$"|token_safe}}
                          <div style="float:right;margin-top:-5px;">
                            <button id="reset_filter" class="btn btn-primary">Remove Filter</button>
                          </div>
                          </h3>
                    </div>
                </div>
            </div>
        </div>
  </div>  
  <div class="dashboard-row" id="drilldown-row">
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Users</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="user-table" managerid="top_users" %}
                    </div>
                </div>
            </div>
        </div>
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Documents</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="document-table" managerid="top_documents"%}
                    </div>
                </div>
            </div>
        </div>
  </div>

</div>

  </script>
  {% endblock content%}

{% block managers %}

  {% searchmanager id="base-search" search="index=warum sourcetype=ri:pas:application event_name=create OR event_name=delete OR event_name=read OR event_name=share OR event_name=upload OR event_name=permissions_changed | bucket span=5m _time | stats count by _time event_name user_name event_target" preview=True cache=60 status_buckets=300 %}

  {% postprocessmanager id="trend-search" managerid="base-search" search="timechart sum(count) by event_name" %}

  {% postprocessmanager id="top_users" managerid="base-search" search=" search event_name=$event_name$ | top user_name | eval percent=round(percent,2)"|token_safe %}

  {% postprocessmanager id="top_documents" managerid="base-search" search=" search event_name=$event_name$ | top event_target | eval percent=round(percent,2)"|token_safe %}

{% endblock managers %}

{% block js %}    
<script>    
require(
  [
    "splunkjs/ready!", 
    "underscore", 
    "splunkjs/mvc/chartview"
  ], function(mvc, _) {

    var ChartView = require("splunkjs/mvc/chartview");
    var timerange = mvc.Components.getInstance("timerange"); 
    var tokens = mvc.Components.getInstance("default");

    var search = mvc.Components.getInstance("trend-search");
    var user_table = mvc.Components.getInstance("user-table");
    var document_table = mvc.Components.getInstance("document-table");

    tokens.set("event_name", "*");

    timerange.on("change", function() {
        search.search.set(timerange.val());
    });

    barchart = new ChartView({
      id: "trend-chart",
      managerid: "trend-search",
      type: "column",
      "charting.chart.stackMode": "stacked",
      drilldownRedirect: false,
      el: $("#trend-chart-div")
    }).render();

    barchart.on("click:chart", function(e) {
        e.preventDefault();
        earliest = parseFloat(e.rowContext["row._time"]);
        span = parseFloat(e._span);
        latest = earliest + span;
        tokens.set("event_name", e.name2);
        tokens.set("earliest_time",earliest);
        tokens.set("latest_time",latest);
        $("#filter_header").show();
    });

    barchart.on("click:legend", function(e) {
        e.preventDefault();
        tokens.set("event_name", e.name2);
        $("#filter_header").show();
    });

    user_table.on("click:row", function(e) {
        e.preventDefault();
        username = e.data["row.user_name"];
        earliest_time = tokens.get("earliest_time");
        latest_time = tokens.get("latest_time");
        window.location.href = "../user_details?username=" + username + "&earliest_time=" + earliest_time + "&latest_time=" + latest_time;
    });

    $("#reset_filter").click(function(e) {
        tokens.set("event_name", "*");
        $("#filter_header").hide();
    });

    document_table.on("click:row", function(e) {
        e.preventDefault();
        document_name = e.data["row.event_target"];
        earliest_time = tokens.get("earliest_time");
        latest_time = tokens.get("latest_time");
        window.location.href = "../document_details?document=" + document_name + "&earliest_time=" + earliest_time + "&latest_time=" + latest_time;
    });
});

</script>
{% endblock js %}
