{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}User Investigation{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <style>
        .span-full {
            width: 100%;
        }
        .span-half {
            width: 50%;
        }
        .span-third {
            width: 33%;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
  
  <div class="row">
    <div class="span12 dashboard-header clearfix">
      <h2>Summary</h2>
    </div>
  </div>

      <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Search Criteria</h3>
                    </div>
                    <div class="panel-body">
                        {% timerange id="timerange" managerid="trend-search" preset="Last 7 days" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="dashboard-row">
    <div class="dashboard-cell" style="width: 100%;">
      <div class="dashboard-panel">
        <div class="panel-head">
          <h3>Trend</h3>
        </div>

        <div class="panel-body">
          <div id="trend-chart-div"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-row" id="drilldown-row">
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Users</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="user-table" managerid="top_users" %}
                    </div>
                </div>
            </div>
        </div>
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Documents</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="document-table" managerid="top_documents"%}
                    </div>
                </div>
            </div>
        </div>
  </div>

</div>
{% endblock content%}

{% block managers %}

  {% searchmanager id="base-search" search="index=warum sourcetype=conducive:application event_name=create OR event_name=delete OR event_name=read OR event_name=share OR event_name=upload OR event_name=permissions_changed | bucket span=5m _time | stats count by _time event_name user_name event_target" preview=True cache=60 status_buckets=300 %}

  {% postprocessmanager id="trend-search" managerid="base-search" search="timechart sum(count) by event_name" %}

  {% postprocessmanager id="top_users" managerid="base-search" search=" search event_name=$event_name$ | top user_name"|token_safe %}

  {% postprocessmanager id="top_documents" managerid="base-search" search=" search event_name=$event_name$ | top event_target"|token_safe %}

{% endblock managers %}

{% block js %}    
<script>    
require(
  [
    "splunkjs/ready!", 
    "underscore", 
    "splunkjs/mvc/chartview"
  ], function(mvc, _) {

    var search = mvc.Components.getInstance("trend-search");
    var ChartView = require("splunkjs/mvc/chartview");
    var timerange = mvc.Components.getInstance("timerange"); 
    var drilldown_div = $("#drilldown-row");
    var tokens = mvc.Components.getInstance("default");

    tokens.set("event_name", "*");

    timerange.on("change", function() {
        search.search.set(timerange.val());
    });

    barchart = new ChartView({
      id: "trend-chart",
      managerid: "trend-search",
      type: "column",
      "charting.chart.stackMode": "stacked",
      drilldownRedirect: false,
      el: $("#trend-chart-div")
    }).render();

    barchart.on("click:chart", function(e) {
        e.preventDefault();
        tokens.set("event_name", e.name2);
    });
});

</script>
{% endblock js %}
