{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}User Details{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <style>
        .span-full {
            width: 100%;
        }
        .span-half {
            width: 50%;
        }
        .span-third {
            width: 33%;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
  
  <div class="row">
    <div class="span12 dashboard-header clearfix">
      <h2>User Details</h2>
    </div>
  </div>

      <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Search Criteria</h3>
                    </div>
                    <div class="panel-body">
                        <div id="userInput" class="splunk-view" style="float:left"></div>
                        {% timerange id="timerange" managerid="trend-search" earliest_time="$earliest_time$"|token_safe latest_time="$latest_time$"|token_safe%}
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="dashboard-row">
    <div class="dashboard-cell" style="width: 100%;">
      <div class="dashboard-panel">
        <div class="panel-head">
          <h3>Trend</h3>
        </div>

        <div class="panel-body">
          <div id="trend-chart-div"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-row" id="drilldown-row">
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Events</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="user-table" managerid="top_events" %}
                    </div>
                </div>
            </div>
        </div>
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Documents</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="document-table" managerid="top_documents"%}
                    </div>
                </div>
            </div>
        </div>
  </div>

</div>
{% endblock content%}

{% block managers %}

  {% searchmanager id="base-search" search="index=warum sourcetype=conducive:application user_name=$username$ | bucket span=5m _time | stats count by _time event_name event_target"|token_safe preview=True cache=60 status_buckets=300 %}

  {% postprocessmanager id="trend-search" managerid="base-search" search="timechart sum(count) by event_name" %}

  {% postprocessmanager id="top_events" managerid="base-search" search="top event_name"|token_safe %}

  {% postprocessmanager id="top_documents" managerid="base-search" search="top event_target"|token_safe %}

{% endblock managers %}

{% block js %}    
<script>    
require(
  [
    "splunkjs/ready!", 
    "underscore", 
    "splunkjs/mvc/chartview",
    "splunkjs/mvc/textinputview",
    "warum_conducive_web/purl"
  ], function(mvc, _) {

    var ChartView = require("splunkjs/mvc/chartview");
    var TextInputView = require("splunkjs/mvc/textinputview");

    var search = mvc.Components.getInstance("trend-search");
    var timerange = mvc.Components.getInstance("timerange"); 
    var drilldown_div = $("#drilldown-row");
    var tokens = mvc.Components.getInstance("default");

    var params = getQueryStringParams();
    if (params.username) {
      tokens.set("username",params.username);
      tokens.set("earliest_time",params.earliest_time);
      tokens.set("latest_time",params.latest_time);
    }


    timerange.on("change", function() {
        search.search.set(timerange.val());
    });

    new TextInputView({
      id: "userInput",
      el: $("#userInput"),
      default: "*",
      value: mvc.tokenSafe("$username$")
    }).render();

    barchart = new ChartView({
      id: "trend-chart",
      managerid: "trend-search",
      type: "column",
      "charting.chart.stackMode": "stacked",
      drilldownRedirect: false,
      el: $("#trend-chart-div")
    }).render();

    barchart.on("click:chart", function(e) {
        e.preventDefault();
    });
});

</script>
{% endblock js %}
