{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}User Details{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
  
  <div class="row">
    <div class="span12 dashboard-header clearfix">
      <h2>User Details</h2>
    </div>
  </div>

      <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Search Criteria</h3>
                    </div>
                    <div class="panel-body">
                        <div id="userInput" class="splunk-view" style="float:left"></div>
                        <div id="timepicker"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="dashboard-row">
    <div class="dashboard-cell" style="width: 100%;">
      <div class="dashboard-panel">
        <div class="panel-head">
          <h3>Trend</h3>
        </div>

        <div class="panel-body">
          <div id="trend-chart-div"></div>
          <div id="zoom-chart-div"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-row" id="drilldown-row">
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Events</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="events-table" managerid="top_events" %}
                    </div>
                </div>
            </div>
        </div>
    <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Top Documents</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="documents-table" managerid="top_documents"%}
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="dashboard-row" id="raw_container" style="display:none;">
    <div class="dashboard-cell" style="width: 100%;">
      <div class="dashboard-panel">
        <div class="panel-head">
          <h3>Raw Events (User: {{"$username$"|token_safe}}, {{"$raw_search$"|token_safe}})</h3>
        </div>
        <div class="panel-body">
          {% table id="raw-table" managerid="raw-search"%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}

{% block managers %}

  {% searchmanager id="base-search" search="index=warum sourcetype=ri:pas:application user_name=$username$ | bucket span=5m _time | stats count by _time event_name event_target"|token_safe preview=True %}

  {% postprocessmanager id="trend-search" managerid="base-search" search="timechart sum(count) by event_name" %}

  {% searchmanager id="zoom-search" search="index=warum sourcetype=ri:pas:application user_name=$username$ | bucket span=5m _time | stats count by _time event_name user_name | timechart sum(count)"|token_safe preview=True cache=60 status_buckets=300 %}

  {% postprocessmanager id="top_events" managerid="base-search" search="top event_name | eval percent=round(percent,2)"|token_safe %}

  {% postprocessmanager id="top_documents" managerid="base-search" search="top event_target | eval percent=round(percent,2)"|token_safe %}

  {% searchmanager id="raw-search" search="index=warum sourcetype=ri:pas:application user_name=$username$ $raw_search$"|token_safe preview=True cache=60 status_buckets=300 earliest_time="$earliest_time$"|token_safe latest_time="$latest_time$"|token_safe%}

{% endblock managers %}

{% block js %}    
<script>    
require(
  [
    "splunkjs/ready!", 
    "underscore", 
    "splunkjs/mvc/chartview",
    "splunkjs/mvc/textinputview",
    "splunkjs/mvc/timerangeview",
    "warum_conducive_web/purl"
  ], function(mvc, _) {

    var ChartView = require("splunkjs/mvc/chartview");
    var TextInputView = require("splunkjs/mvc/textinputview");
    var TimeRangeView = require("splunkjs/mvc/timerangeview")

    var base_search = mvc.Components.getInstance("base-search");
    var zoom_search = mvc.Components.getInstance("zoom-search");

    var drilldown_div = $("#drilldown-row");
    var tokens = mvc.Components.getInstance("default");
    var events_table = mvc.Components.getInstance("events-table");
    var documents_table = mvc.Components.getInstance("documents-table");

    var params = getQueryStringParams();
    if (params.username) {
      tokens.set("username",decodeURI(params.username));
      tokens.set("earliest_time",params.earliest_time);
      tokens.set("latest_time",params.latest_time);
    }

    value = {
        earliest_time: tokens.get("earliest_time"),
        latest_time: tokens.get("latest_time")
    };
    var timerange = new TimeRangeView({
        id: "timepicker",
        dialogOptions: {
            showCustomRealTime: false,
            showPresetsRealTime :false,
            enableCustomAdvancedRealTime: false
        },
        el: $("#timepicker"),
        value: value
    }).render();
    
    timerange.on("change", function() {
      base_search.search.set(timerange.val());
      zoom_search.search.set(timerange.val());
      /*tokens.set("earliest_time",params.earliest_time);
      tokens.set("latest_time",params.latest_time);*/
    });

    new TextInputView({
      id: "userInput",
      el: $("#userInput"),
      default: "*",
      value: mvc.tokenSafe("$username$")
    }).render();

    zoomchart = new ChartView({
      height: "100px",
      managerid: "zoom-search",
      type: "line",
      "charting.axisTitleX.visibility" : "collapsed",
      "charting.axisTitleY.visibility" : "collapsed",
      el: $("#zoom-chart-div")
    }).render();

    zoomchart.on("selection", function(e) {
      e.preventDefault();
      time_value = {
        "earliest_time":e.startValue,
        "latest_time":e.endValue
      };
      base_search.search.set(time_value);
      tokens.set("earliest_time",e.startValue);
      tokens.set("latest_time",e.endValue);
    });

    barchart = new ChartView({
      id: "trend-chart",
      managerid: "trend-search",
      type: "column",
      "charting.chart.stackMode": "stacked",
      "charting.axisTitleX.visibility" : "collapsed",
      drilldownRedirect: false,
      el: $("#trend-chart-div")
    }).render();

    documents_table.on("click:row", function(e) {
      e.preventDefault();
      event_target = e.data["row.event_target"].replace(/\\/g,"\\\\");
      tokens.set("raw_search","event_target=" + event_target);
      $("#raw_container").show();
    });

    events_table.on("click:row", function(e) {
      e.preventDefault();
      eventname = e.data["row.event_name"];
      tokens.set("raw_search","event_name=" + eventname);
      $("#raw_container").show();
    });

});

</script>
{% endblock js %}
