<dashboard>
    <label><?js= title ?></label>
    <row>
        <html encoded="true"><![CDATA[
            <div>
                <?js= this.nav ?>
            </div>
            <div>
                <?js= content ?>
            </div>
        ]]></html>
    </row>
</dashboard>
